<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoogleSignIn"
        tools:targetApi="31">
        <activity
            android:name=".WorkoutActivity"
            android:exported="true"
            android:label="@string/title_activity_workout"
            android:theme="@style/Theme.GoogleSignIn.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5tM-6ZeVBHn--q8O0XvKbn2vcP-em6Ks" />

        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SignInEmailActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".SignUpEmailActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".UserDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".WorkoutHistoryActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".WorkoutScrollingActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents" />
    </application>

</manifest>